In [1]:
import pandas as pd
import collections
import tabulate
import re

C:\Users\vadla\AppData\Local\Temp\ipykernel_10688\3349487445.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("C:\Programming\Django\Vacancies.csv")

C:\Users\vadla\AppData\Local\Temp\ipykernel_10688\4036913902.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:\Programming\Django\Vacancies.csv")

In [125]:
df = df[df["key_skills"].str.contains('c\+\+|с\+\+', case=False, na=False)]

In [133]:
top_skills_by_year = pd.DataFrame()

In [134]:
df["published_at"] = pd.to_datetime(df["published_at"], errors='coerce')

C:\Users\vadla\AppData\Local\Temp\ipykernel_10688\44070311.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["published_at"] = pd.to_datetime(df["published_at"], errors='coerce')

In [135]:
df["year"] = df["published_at"].dt.year

C:\Users\vadla\AppData\Local\Temp\ipykernel_10688\1422993969.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["year"] = df["published_at"].dt.year

In [136]:
grouped = df.groupby("year")

In [137]:
df.head()

,name,key_skills,salary_from,salary_to,salary_currency,area_name,published_at,year
1246106,C++ developer (full stack),C++\nWebRTC\nBoost\niOS\nAndroid\nWindows Mobi...,NaN,NaN,NaN,Минск,2015-05-25 11:34:10+03:00,2015
1251520,Ведущий программист,Python\nPHP\nC/C++\nLinux,60000.0,100000.0,RUR,Санкт-Петербург,2015-05-31 23:41:28+03:00,2015
1253217,Ведущий системный разработчик C++,C++\nPython\nJava\nQt\nООП\nOpenGL\nBoost\nNod...,100000.0,NaN,RUR,Тула,2015-06-02 15:22:45+03:00,2015
1253504,С++ Developer,"C++ C# .NET\nJavaScript, HTML",90000.0,110000.0,RUR,Москва,2015-06-02 19:11:22+03:00,2015
1254931,Инженер-программист,C++\nMS Visual Studio\nLinux,55000.0,85000.0,RUR,Раменское,2015-06-04 13:10:43+03:00,2015

In [138]:
for name, group in grouped:
  # извлекаем навыки из поля key_skills
  skills = group["key_skills"].str.split("\n|,", expand=True).stack().reset_index(drop=True)
  # подсчитываем частоту каждого навыка в группе
  counter = skills.value_counts()
  # выбираем 20 наиболее частых навыков
  top_skills = counter.head(20)
  # преобразуем серию в датафрейм
  df = pd.DataFrame(top_skills).reset_index()
  df.columns = ["skill", "frequency"]
  # добавляем столбец с годом
  df["year"] = name
  # добавляем датафрейм к итоговому датафрейму
  top_skills_by_year = pd.concat([top_skills_by_year, df])

In [139]:
# выводим итоговый датафрейм в виде таблицы
print(top_skills_by_year.to_markdown())

|    | skill            |   frequency |   year |
|---:|:-----------------|------------:|-------:|
|  0 | C++              |         942 |   2015 |
|  1 | STL              |         253 |   2015 |
|  2 | Linux            |         237 |   2015 |
|  3 | C/C++            |         235 |   2015 |
|  4 | Git              |         187 |   2015 |
|  5 | Java             |         184 |   2015 |
|  6 | ООП              |         173 |   2015 |
|  7 | Design Patterns  |         167 |   2015 |
|  8 | iOS              |         159 |   2015 |
|  9 | Python           |         140 |   2015 |
| 10 | C#               |         125 |   2015 |
| 11 | Objective-C      |         114 |   2015 |
| 12 | JavaScript       |         113 |   2015 |
| 13 | XML              |         108 |   2015 |
| 14 | SQL              |         106 |   2015 |
| 15 | SVN              |          96 |   2015 |
| 16 | Boost            |          92 |   2015 |
| 17 | Qt               |          87 |   2015 |
| 18 | Android          |          81 |   2015 |
| 19 | best-practices   |          73 |   2015 |
|  0 | C++              |        2611 |   2016 |
|  1 | Linux            |         976 |   2016 |
|  2 | C/C++            |         842 |   2016 |
|  3 | ООП              |         749 |   2016 |
|  4 | Git              |         737 |   2016 |
|  5 | Java             |         706 |   2016 |
|  6 | C#               |         651 |   2016 |
|  7 | Python           |         577 |   2016 |
|  8 | SQL              |         447 |   2016 |
|  9 | JavaScript       |         410 |   2016 |
| 10 | Qt               |         385 |   2016 |
| 11 | SVN              |         280 |   2016 |
| 12 | STL              |         277 |   2016 |
| 13 | MySQL            |         273 |   2016 |
| 14 | .NET Framework   |         269 |   2016 |
| 15 | MS Visual Studio |         236 |   2016 |
| 16 | Английский язык  |         235 |   2016 |
| 17 | PHP              |         228 |   2016 |
| 18 | XML              |         227 |   2016 |
| 19 | Android          |         203 |   2016 |
|  0 | C++              |        3609 |   2017 |
|  1 | Linux            |        1482 |   2017 |
|  2 | C/C++            |        1415 |   2017 |
|  3 | C#               |         961 |   2017 |
|  4 | ООП              |         911 |   2017 |
|  5 | Git              |         904 |   2017 |
|  6 | Java             |         888 |   2017 |
|  7 | Python           |         858 |   2017 |
|  8 | SQL              |         689 |   2017 |
|  9 | Qt               |         619 |   2017 |
| 10 | JavaScript       |         560 |   2017 |
| 11 | STL              |         430 |   2017 |
| 12 | MySQL            |         374 |   2017 |
| 13 | PHP              |         344 |   2017 |
| 14 | HTML             |         324 |   2017 |
| 15 | Android          |         298 |   2017 |
| 16 | MS Visual Studio |         290 |   2017 |
| 17 | .NET Framework   |         281 |   2017 |
| 18 | PostgreSQL       |         270 |   2017 |
| 19 | iOS              |         258 |   2017 |
|  0 | C++              |        6244 |   2018 |
|  1 | Linux            |        2257 |   2018 |
|  2 | Python           |        2070 |   2018 |
|  3 | C#               |        2057 |   2018 |
|  4 | Java             |        2057 |   2018 |
|  5 | C/C++            |        2030 |   2018 |
|  6 | Git              |        1892 |   2018 |
|  7 | JavaScript       |        1489 |   2018 |
|  8 | SQL              |        1387 |   2018 |
|  9 | ООП              |        1138 |   2018 |
| 10 | HTML             |        1012 |   2018 |
| 11 | MySQL            |         963 |   2018 |
| 12 | Qt               |         841 |   2018 |
| 13 | PHP              |         789 |   2018 |
| 14 | CSS              |         758 |   2018 |
| 15 | HTML5            |         690 |   2018 |
| 16 | .NET Framework   |         683 |   2018 |
| 17 | MS SQL           |         682 |   2018 |
| 18 | STL              |         593 |   2018 |
| 19 | PostgreSQL       |         518 |   2018 |
|  0 | C++              |        7035 |   2019 |
|  1 | Linux            |        2713 |   2019 |
|  2 | C/C++            |        2495 |   2019 |
|  3 | Python           |        2317 |   2019 |
|  4 | Git              |        1722 |   2019 |
|  5 | Java             |        1701 |   2019 |
|  6 | C#               |        1578 |   2019 |
|  7 | SQL              |        1421 |   2019 |
|  8 | ООП              |        1200 |   2019 |
|  9 | JavaScript       |        1025 |   2019 |
| 10 | Qt               |         950 |   2019 |
| 11 | Английский язык  |         650 |   2019 |
| 12 | STL              |         642 |   2019 |
| 13 | MySQL            |         598 |   2019 |
| 14 | HTML             |         525 |   2019 |
| 15 | Android          |         523 |   2019 |
| 16 | PHP              |         522 |   2019 |
| 17 | MS Visual Studio |         507 |   2019 |
| 18 | MS SQL           |         504 |   2019 |
| 19 | PostgreSQL       |         456 |   2019 |
|  0 | C++              |       11782 |   2020 |
|  1 | Linux            |        4796 |   2020 |
|  2 | C/C++            |        4138 |   2020 |
|  3 | Python           |        3943 |   2020 |
|  4 | SQL              |        2923 |   2020 |
|  5 | Git              |        2653 |   2020 |
|  6 | Java             |        2365 |   2020 |
|  7 | ООП              |        2179 |   2020 |
|  8 | C#               |        1831 |   2020 |
|  9 | Английский язык  |        1756 |   2020 |
| 10 | Qt               |        1644 |   2020 |
| 11 | JavaScript       |        1143 |   2020 |
| 12 | MS SQL           |        1002 |   2020 |
| 13 | STL              |         945 |   2020 |
| 14 | MS Visual Studio |         931 |   2020 |
| 15 | Android          |         900 |   2020 |
| 16 | MATLAB           |         871 |   2020 |
| 17 | PostgreSQL       |         811 |   2020 |
| 18 | HTML             |         673 |   2020 |
| 19 | iOS              |         651 |   2020 |
|  0 | C++              |       15205 |   2021 |
|  1 | Linux            |        6215 |   2021 |
|  2 | C/C++            |        6115 |   2021 |
|  3 | Python           |        5598 |   2021 |
|  4 | Git              |        3926 |   2021 |
|  5 | SQL              |        3300 |   2021 |
|  6 | ООП              |        3050 |   2021 |
|  7 | Английский язык  |        2959 |   2021 |
|  8 | Java             |        2578 |   2021 |
|  9 | C#               |        2453 |   2021 |
| 10 | Qt               |        2081 |   2021 |
| 11 | STL              |        1310 |   2021 |
| 12 | JavaScript       |        1269 |   2021 |
| 13 | MS Visual Studio |        1098 |   2021 |
| 14 | PostgreSQL       |         975 |   2021 |
| 15 | MATLAB           |         969 |   2021 |
| 16 | MS SQL           |         967 |   2021 |
| 17 | HTML             |         854 |   2021 |
| 18 | Unity            |         732 |   2021 |
| 19 | MySQL            |         702 |   2021 |
|  0 | C++              |       11622 |   2022 |
|  1 | C/C++            |        7452 |   2022 |
|  2 | Linux            |        6042 |   2022 |
|  3 | Python           |        4645 |   2022 |
|  4 | Git              |        3516 |   2022 |
|  5 | Английский язык  |        3054 |   2022 |
|  6 | ООП              |        2795 |   2022 |
|  7 | SQL              |        2275 |   2022 |
|  8 | Qt               |        2076 |   2022 |
|  9 | Java             |        1763 |   2022 |
| 10 | C#               |        1732 |   2022 |
| 11 | STL              |        1345 |   2022 |
| 12 | MS Visual Studio |         885 |   2022 |
| 13 | PostgreSQL       |         859 |   2022 |
| 14 | ARM              |         838 |   2022 |
| 15 | JavaScript       |         791 |   2022 |
| 16 | MATLAB           |         732 |   2022 |
| 17 | С++              |         702 |   2022 |
| 18 | Bash             |         689 |   2022 |
| 19 | Разработка ПО    |         621 |   2022 |
|  0 | C++              |        7930 |   2023 |
|  1 | C/C++            |        5029 |   2023 |
|  2 | Linux            |        4633 |   2023 |
|  3 | Python           |        3018 |   2023 |
|  4 | Git              |        2468 |   2023 |
|  5 | Qt               |        1654 |   2023 |
|  6 | ООП              |        1342 |   2023 |
|  7 | SQL              |        1321 |   2023 |
|  8 | STL              |        1079 |   2023 |
|  9 | Английский язык  |        1057 |   2023 |
| 10 | Java             |         946 |   2023 |
| 11 | C#               |         872 |   2023 |
| 12 | PostgreSQL       |         769 |   2023 |
| 13 | ARM              |         651 |   2023 |
| 14 | Boost            |         629 |   2023 |
| 15 | Разработка ПО    |         625 |   2023 |
| 16 | TCP/IP           |         604 |   2023 |
| 17 | Bash             |         548 |   2023 |
| 18 | С++              |         544 |   2023 |
| 19 | MS Visual Studio |         457 |   2023 |